.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
}

.popup__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.popup__content {
    background-color: #3a3a3a;
    padding: var(--space-base);
    min-width: 480px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(var(--space-m));
    transition: all 300ms ease-in-out;
}

.popup--show {
    opacity: 1;
    pointer-events: all;

    .popup__content {
        transform: translateY(0);
    }
}
