.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--space-xs);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    outline: 1px solid;
    font-size: 12px;
    min-width: 32px;

    & + .tag {
        margin-inline-start: var(--space-base);
    }
}
